<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Web Scraper</title>
</head>
<body>
    <div class="container">
        <h1>Web Scraper</h1>
        <p class="intro">
            The Web Scraper is a cutting-edge tool, designed to enable users to easily extract valuable information from any webpage. By providing a seamless experience in counting the occurrences of specific words or phrases, our tool is essential in the digital age, where rapid analysis of web content is paramount. Explore the power of the Web Scraper and discover how it is redefining the way we engage with the immense landscape of information available online.
        </p>
        <form action="/" method="POST">
            <label for="url">URL:</label>
            <input type="url" name="url" id="url" required>
            <label for="search_text">Search Text:</label>
            <input type="text" name="search_text" id="search_text" required>
            <button type="submit">Count Occurrences</button>
        </form>
        {% if count is not none %}
        <div class="result">
            The text <strong>{{ request.form['search_text'] }}</strong> was found {{ count }} times in the webpage <a href="{{ request.form['url'] }}" target="_blank">{{ request.form['url'] }}</a>.
        </div>
        {% endif %}
    </div>
</body>
</html>
